body{background: rgb(255,158,0);
    background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(2,90,182,1) 2%, rgba(2,90,182,1) 98%, rgba(255,158,0,1) 100%);
    
}


.Senac{

margin: 30px;




}




h1{ color: coral;

}


h2{ color: coral;

}

 li{
            list-style-type: none;
            border-style: solid;
            border-width: 1px ;
            border-color: white;
            background-color: cornflowerblue;
            text-align: center;
            width: 150px;
            /* Se quiser que cada item fique lado a lado */
            /* float: left; */
        }